<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-app>
    <div>14 + 17: {{14+17}}</div>
    <div>16 + 17: {{16+17}}</div>

    <!-- creating variable in AngularJs -->

    <div ng-init="x=10; y=20;">{{x-y}}</div>

    <div ng-init="name='sachin'">
      <p>
        Name:
        <span ng-bind="name"></span>
        {{name}}
      </p>
    </div>

    <div ng-init="name1='Arun'">
      <input type="text" ng-model="name1" />

      <p>{{name1}}</p>
    </div>


    <div ng-init="names=['Jani', 'Hege', 'John']">

        <ul>
            <li ng-repeat="x in names">{{x}}</li>
        </ul>

    </div>

  </body>
</html>
